body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}
.logo {
    display: block;
    margin: 0 auto;
    max-width: 150px; /* Sesuaikan ukuran logo */
    height: auto;
}

.container {
    max-width: 400px;
    background: #fff;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"] {
    background: #28a745;
    color: white;
}

button[type="button"] {
    background: #dc3545;
    color: white;
}
